<mat-card class="ApplicationCard">
  <div class="ApplicationCard-topRow">
    <div>{{application.name}}</div>
    <div class="ApplicationCard-bookmarkContainer" (click)="toggleBookmark($event)">
        <mat-icon>bookmark{{application.bookmarked ? '' : '_border'}}</mat-icon>
    </div>
  </div>
  <mat-divider [inset]="true" [style.backgroundColor]></mat-divider>
  <div class="ApplicationCard-bottomRow">
    <div>{{application.position}} --- {{experience}}</div>
    <div>{{application.applied}}</div>
  </div>
</mat-card>
