.DashboardView > mat-expansion-panel {
    margin-top: 10px;
}

.DashboardView-resultControlsTitle {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.DashboardView-sortingMethodRadioGroup {
    display: inline-flex;
    flex-direction: column;
}

.DashboardView-sortingMethodRadioButton {
    margin: 15px;
}

.DashboardView-resultTotalMessage {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.DashboardView-appCardContainer {
    margin-top: 20px;
}